@font-face {
    font-family: 'Bahnschrift';
    src: url('./fonts/bahnschrift-bold.eot');
    //src: local('Bahnschrift'),
        url('./fonts/bahnschrift-bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/bahnschrift-bold.woff2') format('woff2'),
        url('./fonts/bahnschrift-bold.woff') format('woff'),
        url('./fonts/bahnschrift-bold.ttf') format('truetype'),
        url('./fonts/bahnschrift-bold.svg#Bahnschrift') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bahnschrift';
    src: url('./fonts/bahnschrift-regular.eot');
    //src: local('Bahnschrift'),
        url('./fonts/bahnschrift-regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/bahnschrift-regular.woff2') format('woff2'),
        url('./fonts/bahnschrift-regular.woff') format('woff'),
        url('./fonts/bahnschrift-regular.ttf') format('truetype'),
        url('./fonts/bahnschrift-regular.svg#Bahnschrift') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/playfair-display-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'),
       url('./fonts/playfair-display-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/playfair-display-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/playfair-display-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/playfair-display-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/playfair-display-v13-latin-regular.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/playfair-display-v13-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Playfair Display Black'), local('PlayfairDisplay-Black'),
       url('./fonts/playfair-display-v13-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/playfair-display-v13-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/playfair-display-v13-latin-900.woff') format('woff'), /* Modern Browsers */
       url('./fonts/playfair-display-v13-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/playfair-display-v13-latin-900.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    src: url("./fonts/roboto-book.eot");
    src: url("./fonts/roboto-book.eot?#iefix") format("embedded-opentype"),
         url("./fonts/roboto-book.woff2") format("woff2"),
         url("./fonts/roboto-book.woff") format("woff"),
         url("./fonts/roboto-book.svg") format("svg");
}
@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: normal;
    src: url("./fonts/roboto-book-italic.eot");
    src: url("./fonts/roboto-book-italic.eot?#iefix") format("embedded-opentype"),
         url("./fonts/roboto-book-italic.woff2") format("woff2"),
         url("./fonts/roboto-book-italic.woff") format("woff"),
         url("./fonts/roboto-book-italic.svg") format("svg");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("./fonts/roboto-bold.eot");
    src: url("./fonts/roboto-bold.eot?#iefix") format("embedded-opentype"),
         url("./fonts/roboto-bold.woff2") format("woff2"),
         url("./fonts/roboto-bold.woff") format("woff"),
         url("./fonts/roboto-bold.svg") format("svg");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 200;
    src: url("./fonts/roboto-light.eot");
    src: url("./fonts/roboto-light.eot?#iefix") format("embedded-opentype"),
         url("./fonts/roboto-light.woff2") format("woff2"),
         url("./fonts/roboto-light.woff") format("woff"),
         url("./fonts/roboto-light.svg") format("svg");
}

@font-face{
	font-family: "iconberger";
	font-weight: normal;
	font-style: normal;
	src: url("./fonts/iconberger.eot?v1-2");
	src: url("./fonts/iconberger.eot?v1-2#iefix") format("embedded-opentype"),
		 url("./fonts/iconberger.ttf?v1-2") format("truetype"),
		 url("./fonts/iconberger.woff?v1-2") format("woff"),
		 url("./fonts/iconberger.svg?v1-2#iconberger") format("svg");
}

@iconberger-check: "\f00c";
@iconberger-close: "\f00d";
@iconberger-bookmark: "\f02e";
@iconberger-close-circle: "\f057";
@iconberger-check-circle: "\f058";
@iconberger-close-circle-o: "\f05c";
@iconberger-check-circle-o: "\f05d";
@iconberger-ban: "\f05e";
@iconberger-bookmark-o: "\f097";
@iconberger-caret-down: "\f0d7";
@iconberger-caret-up: "\f0d8";
@iconberger-caret-left: "\f0d9";
@iconberger-caret-right: "\f0da";
@iconberger-sort: "\f0dc";
@iconberger-sort-down: "\f0dd";
@iconberger-sort-up: "\f0de";
@iconberger-down: "\f01a";
@iconberger-up: "\f01b";
@iconberger-pinterest: "\f0d4";
@iconberger-stackoverflow: "\f16c";
@iconberger-instagram: "\f16d";
@iconberger-flickr: "\f16e";
@iconberger-right: "\f18e";
@iconberger-left: "\f190";
@iconberger-amazon: "\f270";
@iconberger-heart: "\f004";
@iconberger-twitter: "\f081";
@iconberger-facebook: "\f082";
@iconberger-github: "\f092";
@iconberger-pinterest-x: "\f0d3";
@iconberger-behance: "\f1b5";

.iconberger-general{
	font-family: "iconberger" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
    vertical-align: text-top;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

i.iconberger{

    .iconberger-general();

    &.iconberger-check {
        &:before {
            content: @iconberger-check;
        }
    }

    &.iconberger-close {
        &:before {
            content: @iconberger-close;
        }
    }

    &.iconberger-bookmark {
        &:before {
            content: @iconberger-bookmark;
        }
    }

    &.iconberger-close-circle {
        &:before {
            content: @iconberger-close-circle;
        }
    }

    &.iconberger-check-circle {
        &:before {
            content: @iconberger-check-circle;
        }
    }

    &.iconberger-close-circle-o {
        &:before {
            content: @iconberger-close-circle-o;
        }
    }

    &.iconberger-check-circle-o {
        &:before {
            content: @iconberger-check-circle-o;
        }
    }

    &.iconberger-ban {
        &:before {
            content: @iconberger-ban;
        }
    }

    &.iconberger-bookmark-o {
        &:before {
            content: @iconberger-bookmark-o;
        }
    }

    &.iconberger-caret-down {
        &:before {
            content: @iconberger-caret-down;
        }
    }

    &.iconberger-caret-up {
        &:before {
            content: @iconberger-caret-up;
        }
    }

    &.iconberger-caret-left {
        &:before {
            content: @iconberger-caret-left;
        }
    }

    &.iconberger-caret-right {
        &:before {
            content: @iconberger-caret-right;
        }
    }

    &.iconberger-sort {
        &:before {
            content: @iconberger-sort;
        }
    }

    &.iconberger-sort-down {
        &:before {
            content: @iconberger-sort-down;
        }
    }

    &.iconberger-sort-up {
        &:before {
            content: @iconberger-sort-up;
        }
    }

    &.iconberger-down {
        &:before {
            content: @iconberger-down;
        }
    }

    &.iconberger-up {
        &:before {
            content: @iconberger-up;
        }
    }

    &.iconberger-pinterest {
        &:before {
            content: @iconberger-pinterest;
        }
    }

    &.iconberger-stackoverflow {
        &:before {
            content: @iconberger-stackoverflow;
        }
    }

    &.iconberger-instagram {
        &:before {
            content: @iconberger-instagram;
        }
    }

    &.iconberger-flickr {
        &:before {
            content: @iconberger-flickr;
        }
    }

    &.iconberger-right {
        &:before {
            content: @iconberger-right;
        }
    }

    &.iconberger-left {
        &:before {
            content: @iconberger-left;
        }
    }

    &.iconberger-amazon {
        &:before {
            content: @iconberger-amazon;
        }
    }

    &.iconberger-heart {
        &:before {
            content: @iconberger-heart;
        }
    }

    &.iconberger-twitter {
        &:before {
            content: @iconberger-twitter;
        }
    }

    &.iconberger-facebook {
        &:before {
            content: @iconberger-facebook;
        }
    }

    &.iconberger-github {
        &:before {
            content: @iconberger-github;
        }
    }

    &.iconberger-pinterest-square {
        &:before {
            content: @iconberger-pinterest;
        }
    }

    &.iconberger-behance {
        &:before {
            content: @iconberger-behance;
        }
    }

}

