// General Setup
// ------------------------------------------------

@import "common/defaults.less";
@import "common/mixins.less";
//@import "common/webfonts.less";


// Styling
// ------------------------------------------------

//@import "style/underscores.less";
@import "themeberger/general.less";
@import "themeberger/layout.less";
@import "themeberger/partials.less";
/**
@import "style/wordpress-defaults.less";
/**/
:root {

	--global-saturation: 80%;
	--global-lightness: 50%;
	--global-alpha: 1;

	--saturation-max: 90%;
	--saturation-more: 70%;
	--saturation-less: 30%;
	--saturation-lesser: 10%;
	--saturation-min: 0%;
	--saturation-special: 100%;

	--lightness-max: 100%;
	--lightness-morest: 98%;
	--lightness-most: 90%;
	--lightness-more: 70%;
	--lightness-less: 40%;
	--lightness-lesser: 33%;
	--lightness-lessest: 15%;
	--lightness-min: 0%;
	--lightness-special: 10%;

	--alpha-less: 0.5;
	--alpha-min: 0.15;

	//--color-primary: 155;
	--color-primary: 168;
	//--color-secondary: 270;
	//--color-secondary: e("calc(var(--color-primary) - 180)");
	//--color-secondary: e("calc(var(--color-primary) - 180)");
	--color-secondary: 330;
	--color-special: 275;


    --global-brand-color: e("hsla(var(--color-primary), var(--global-saturation), var(--global-lightness), var(--global-alpha))");
	--global-secondary-color: e("hsla(var(--color-secondary), var(--global-saturation), var(--global-lightness), var(--global-alpha))");
    --global-background-color: e("hsla(var(--color-primary), var(--saturation-min), var(--lightness-max), var(--global-alpha))");
	--global-section-color: e("hsla(var(--color-secondary), var(--saturation-lesser), var(--lightness-morest), var(--global-alpha))");
    --global-text-color: e("hsla(var(--color-primary), var(--saturation-lesser), var(--lightness-lesser), var(--global-alpha))");
    --global-headline-color: e("hsla(var(--color-primary), var(--saturation-min), var(--lightness-min), var(--global-alpha))");
    --global-text-alt: e("hsla(var(--color-primary), var(--saturation-min), var(--lightness-less), var(--global-alpha))");
	--global-link-color: e("hsla(var(--color-secondary), var(--global-saturation), var(--global-lightness), var(--global-alpha))");
	--global-link-bright: e("hsla(var(--color-secondary), var(--saturation-max), var(--lightness-morest), var(--global-alpha))");
	--global-link-brighter: e("hsla(var(--color-secondary), var(--saturation-max), var(--lightness-max), var(--global-alpha))");
	--global-link-active: e("hsla(var(--color-secondary), var(--global-saturation), var(--lightness-less), var(--global-alpha))");
	--global-link-background: e("hsla(var(--color-secondary), var(--global-saturation), var(--lightness-most), var(--global-alpha))");
	--global-border-color: e("hsla(var(--color-secondary), var(--saturation-lesser), var(--global-lightness), var(--alpha-min))");

	//--header-background-color: e("hsla(var(--color-primary), var(--saturation-lesser), var(--lightness-lessest), var(--global-alpha))");
	--header-background-color: e("hsla(var(--color-special), var(--saturation-special), var(--lightness-special), var(--global-alpha))");
	--header-text-color: e("hsla(var(--color-primary), var(--saturation-min), var(--lightness-max), var(--global-alpha))");
	--header-menu-color: var(--global-link-color);

	--footer-background-color: e("hsla(var(--color-special), var(--saturation-less), var(--lightness-special), var(--global-alpha))");
	--footer-text-color: e("hsla(var(--color-primary), var(--saturation-min), var(--lightness-more), var(--global-alpha))");
	--footer-menu-color: e("hsla(var(--color-primary), var(--saturation-min), var(--lightness-max), var(--global-alpha))");

	--article-section-color: e("hsla(var(--color-primary), var(--saturation-less), var(--lightness-morest), var(--global-alpha))");
	--article-text-alt: e("hsla(var(--color-primary), var(--saturation-lesser), var(--lightness-more), var(--global-alpha))");
	--article-headline-color: e("hsla(var(--color-primary), var(--saturation-lesser), var(--lightness-lessest), var(--global-alpha))");

}
:root[theme='dark'] {

    --global-background-color: e("hsla(var(--color-primary), var(--saturation-min), var(--lightness-lessest), var(--global-alpha))");
	--global-section-color: e("hsla(var(--color-secondary), var(--saturation-lesser), var(--lightness-lessest), var(--global-alpha))");
    --global-text-color: e("hsla(var(--color-primary), var(--saturation-lesser), var(--lightness-more), var(--global-alpha))");
    --global-headline-color: e("hsla(var(--color-primary), var(--saturation-min), var(--lightness-max), var(--global-alpha))");
    --global-text-alt: e("hsla(var(--color-primary), var(--saturation-min), var(--lightness-more), var(--global-alpha))");
	--global-link-color: e("hsla(var(--color-secondary), var(--global-saturation), var(--global-lightness), var(--global-alpha))");
	--global-link-bright: e("hsla(var(--color-secondary), var(--saturation-max), var(--lightness-morest), var(--global-alpha))");
	--global-link-brighter: e("hsla(var(--color-secondary), var(--saturation-max), var(--lightness-max), var(--global-alpha))");
	--global-link-active: e("hsla(var(--color-secondary), var(--global-saturation), var(--lightness-less), var(--global-alpha))");
	--global-link-background: e("hsla(var(--color-secondary), var(--global-saturation), var(--lightness-lesser), var(--global-alpha))");
	--global-border-color: e("hsla(var(--color-secondary), var(--saturation-lesser), var(--global-lightness), var(--alpha-min))");

	--header-background-color: e("hsla(var(--color-secondary), var(--saturation-min), var(--lightness-lessest), var(--global-alpha))");
	--header-text-color: e("hsla(var(--color-primary), var(--saturation-min), var(--lightness-max), var(--global-alpha))");
	--header-menu-color: var(--global-link-color);

	--footer-background-color: e("hsla(var(--color-secondary), var(--saturation-min), var(--lightness-lessest), var(--global-alpha))");
	--footer-text-color: e("hsla(var(--color-primary), var(--saturation-min), var(--lightness-more), var(--global-alpha))");
	--footer-menu-color: e("hsla(var(--color-primary), var(--saturation-min), var(--lightness-max), var(--global-alpha))");

	--article-section-color: e("hsla(var(--color-primary), var(--saturation-lesser), var(--lightness-lessest), var(--global-alpha))");
	--article-text-alt: e("hsla(var(--color-primary), var(--saturation-lesser), var(--global-lightness), var(--global-alpha))");
	--article-headline-color: e("hsla(var(--color-primary), var(--saturation-more), var(--lightness-morest), var(--global-alpha))");

}
:root[theme='debug'] {

    --global-saturation: 50%;
	--global-lightness: 50%;
	--global-alpha: 1;

	--saturation-max: 50%;
	--saturation-more: 50%;
	--saturation-less: 50%;
	--saturation-lesser: 50%;
	--saturation-min: 50%;
	--saturation-special: 50%;

	--lightness-max: 50%;
	--lightness-morest: 50%;
	--lightness-most: 50%;
	--lightness-more: 50%;
	--lightness-less: 50%;
	--lightness-lesser: 50%;
	--lightness-lessest: 50%;
	--lightness-min: 50%;
	--lightness-special: 50%;

	--alpha-less: 1;
	--alpha-min: 1;

	//--color-primary: 155;
	--color-primary: 100;
	--color-secondary: 100;
	--color-special: 100;

}
/**
.single-format-image,
.single-format-status{
	--sidebar-area-background: var(--brand-color-background);
}

body{
	overflow-y: scroll;
}

@golden: 1.333;
@size: 0.8;
@duration: 0.4s;
@transparency: 0.25;
@cardspacing: 20px;

.content-header.dark,
.content-page.dark{
	--explorer-hero-textcolor: rgba(255, 255, 255, 1);
}
.content-header.bright,
.content-page.bright{
	--explorer-hero-textcolor: rgba(0, 0, 0, 1);
}

.wp-block-themeberger-container.bright{
	--explorer-textcolor: #000;
}
.wp-block-themeberger-container.dark{
	--explorer-textcolor: #fff;
}

@import "style/initial.less";
//@import "style/elements.less";




@import "explorer/ui.less";
@import "explorer/content.less";
@import "explorer/archive.less";
@import "explorer/card.less";
@import "explorer/elements.less";


@import "explorer/button.less";
@import "explorer/media.less";
@import "explorer/dynamic-cursor.less";



/**

body.no-css-variables,
body.no-flexbox,
body.no-css-grid{
	@import "style/layout/next-header-boring.less";
}

body.css-variables.flexbox.css-grid{
	@import "style/layout.less";

	@import "style/thirdparty.less";
	//@import "style/color-schemes.less";

	@import "style/layout/blank.less";
	@import "style/layout/frontpage.less";
	//@import "style/cursor.less";


	&:not(.post-template-default) .glitches{
		background-image: url(images/glitch-5.gif);
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		//z-index: 1;
		opacity: 0.01;
	}

}

@import "style/wordpress.less";

/**/

.entry-meta data{
	display: none;
}

.mejs-container.mejs-video {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	width: 100% !important;
	height: 100% !important;
	background-color: #000;

	.mejs-overlay, .mejs-poster {
		width: 100% !important;
		height: 100% !important;
	}
	.mejs-mediaelement video {
		position: absolute;
		top: 0; left: 0; right: 0; bottom: 0;
		width: 100% !important;
		height: 100% !important;
	}
}






[data-reveal="content"] {
  display: inline-block;
  position: relative;
}
[data-reveal="cover"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: 1;
}
[data-reveal="text"] {
  opacity: 0;
}
.entry-content p.loaded [data-reveal="cover"] {
  -webkit-animation: reveal-cover 1.5s ease-in-out;
          animation: reveal-cover 1.5s ease-in-out;
}
.entry-content p.loaded [data-reveal="text"] {
  opacity: 1;
  -webkit-animation: reveal-text 1.5s ease-in-out;
          animation: reveal-text 1.5s ease-in-out;
}
@-webkit-keyframes reveal-cover {
  0% {
    width: 0;
    left: 0;
  }
  44% {
    width: 100%;
    left: 0;
  }
  54% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes reveal-cover {
  0% {
    width: 0;
    left: 0;
  }
  44% {
    width: 100%;
    left: 0;
  }
  54% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@-webkit-keyframes reveal-text {
  0% {
    opacity: 0;
  }
  44% {
    opacity: 0;
  }
  54% {
    opacity: 1;
  }
}
@keyframes reveal-text {
  0% {
    opacity: 0;
  }
  44% {
    opacity: 0;
  }
  54% {
    opacity: 1;
  }
}


/**/

.helper{
	position: fixed;
	bottom: 25px;
	right: 25px;
	width: auto;
	height: auto;
	z-index: 51;
	text-align: center;
	//color: var(--explorer-ui--maincolor-transparency);
	color: #f03;
}
.helper--xs{
	display: block;
	.m1-sm({ display: none; });
	.m1-md({ display: none; });
	.m1-lg({ display: none; });
	.m1-xl({ display: none; });
}
.helper--sm{
	display: none;
	.m1-sm({ display: block; });
	.m1-md({ display: none; });
	.m1-lg({ display: none; });
	.m1-xl({ display: none; });
}
.helper--md{
	display: none;
	.m1-sm({ display: none; });
	.m1-md({ display: block; });
	.m1-lg({ display: none; });
	.m1-xl({ display: none; });
}
.helper--lg{
	display: none;
	.m1-sm({ display: none; });
	.m1-md({ display: none; });
	.m1-lg({ display: block; });
	.m1-xl({ display: none; });
}
.helper--xl{
	display: none;
	.m1-sm({ display: none; });
	.m1-md({ display: none; });
	.m1-lg({ display: none; });
	.m1-xl({ display: block; });
}

/**/
