.themeberger-author,
.themeberger-comment-author,
.themeberger-context-author{
	a{
		line-height: 1;
		text-decoration: none;
	}
	.name{
		color: black;
		color: var(--global-headline-color);
		font-weight: bold;
	}
	.avatar{
		.square(50px);
		border-radius: 50%;
		vertical-align: top;
		margin-right: 15px;
	}
	position: relative;
	z-index: 5;
}


.themeberger-date,
.themeberger-comment-date,
.reply-comment,
.edit-comment{
	font-size: 0.8em;
	color: grey;
	color: var(--global-text-alt);
	margin-left: 7px;
	display: block;
	padding-left: 58px;
	margin-top: -28px;
	margin-bottom: 22px;
    position: relative;
    //top: -20px;
	.m1-sm({
		display: inline;
		padding-left: 0;
		margin-top: 0;
		top: 0;
		&::before{
			display: inline;
			content: "\A";
			white-space: pre;
			margin-right: 7px;
			font-weight: bold;
			.m1-sm({
				content: "\00b7";
				white-space: normal;
			});
		}
	});
	a{
		color: inherit;
		text-decoration: none;
		&:hover,
		&:focus,
		&:active{
			color: blue;
			color: var(--global-link-color);
		}
	}
}


.entry-interactions{
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
	padding-left: 0;
	margin-left: 0;
	margin-top: 15px;
	//font-size: 0.8em;
	color: grey;
	color: var(--global-text-alt);
	.interaction{
		position: relative;
		display: inline-block;
		margin-right: 15px;
		white-space: nowrap;
		cursor: default;
		&:last-child{
			margin-right: 0;
		}
		.interaction-symbol{
			position: relative;
			top: 0;
			margin-right: 5px;
			font-size: 1.2em;
		}
		.interaction-key{
			//margin-right: 10px;
			position: absolute;
			top: 0;
			left: 105%;
			display: block;
			background-color: #f4f5f6;
			padding: 2px 7px;
			//margin-top: -2px;
			z-index: 1;
			opacity: 0;
			pointer-events: none;
		}
		.interaction-value{
			color: black;
			color: var(--global-headline-color);
		}
		&:hover{
			.interaction-key{
				opacity: 1;
			}
		}
	}
}


.page-links{
	color: grey;
	color: var(--global-text-alt);
	font-size: 0.8em;
	a{
		padding: 7px;
		color: inherit;
		text-decoration: none;
		&:hover,
		&:focus,
		&:active{
			color: blue;
			color: var(--global-link-color);
		}
	}
	.current{
		padding: 7px;
		color: black;
		color: var(--global-headline-color);
		font-weight: bold;
	}
}


.site-main{
	.comment-navigation,
	.posts-navigation,
	.post-navigation{
		width: 100%;
		max-width: 700px;
		margin: auto auto;
		margin-bottom: 0;
		& + .pagination{
			width: 100%;
			max-width: 700px;
			margin: auto auto;
			margin-bottom: 0;
			height: 50px;
			line-height: 50px;
			text-align: center;
			.m1-sm({
				margin-top: -50px;
			});
		}
	}
}

.posts-navigation{
	.site-main &{
		margin-top: 4.4em;
	}
	padding: 0 20px;
	height: 50px;
	line-height: 50px;
	//background-color: #f4f5f6;
	font-size: 0.8em;
	.nav-previous,
	.nav-next{
		a{
			text-transform: uppercase;
			font-weight: bold;
			.m1-sm({
				&::after{
					content: "";
					display: block;
					position: absolute;
					top: 50%;
					height: 40px;
					width: 40px;
					.translateY(-50%);
					background-position: center center;
					background-size: contain;
					background-repeat: no-no-repeat;
					opacity: 0.5;
					border-radius: 50%;
					background-color: white;
				}
			});
			&:hover,
			&:focus,
			&:active{
				color: var(--global-headline-color);
				.m1-sm({
					&::after{
						opacity: 1;
						background-color: var(--global-link-background);
					}
				});
			}
		}
	}
	.nav-previous{
		.m1-sm({
			a{
				margin-right: 40px;
				padding-right: 10px;
				&::after{
					right: -40px;
					background-image: url(images/navigation-arrow-right.svg);
				}
			}
		});
	}
	.nav-next{
		.m1-sm({
			a{
				margin-left: 40px;
				padding-left: 10px;
				&::after{
					left: -40px;
					background-image: url(images/navigation-arrow-left.svg);
				}
			}
		});
	}
	a{
		display: inline-block;
		position: relative;
		color: inherit;
		text-decoration: none;
		&:hover,
		&:focus,
		&:active{
			color: blue;
			color: var(--global-link-color);
		}
	}
	& + .pagination{
		.site-main &{
			margin-bottom: 4.4em;
		}
		font-size: 0.8em;
		font-weight: bold;
		a{
			&.prev,
			&.next{
				display: none;
			}
			padding: 7px;
			pointer-events: auto;
			color: inherit;
			text-decoration: none;
			background-color: transparent;
			border-radius: 50%;
			display: inline-block;
			line-height: 1;
			width: 2em;
			height: 2em;
			&:hover,
			&:focus,
			&:active{
				color: blue;
				color: var(--global-headline-color);
				font-weight: bold;
				background-color: var(--global-link-background);
			}
		}
		.current{
			padding: 7px;
			color: white;
			color: var(--header-text-color);
			background-color: blue;
			background-color: var(--global-link-color);
			border-radius: 50%;
			display: inline-block;
			line-height: 1;
			width: 2em;
			height: 2em;
		}
	}
}

.comment-navigation{
	position: relative;
	margin-top: -20px;
	height: 50px;
	line-height: 50px;
	background-color: #f4f5f6;
	font-size: 0.8em;
	color: grey;
	color: var(--global-text-alt);
	.nav-previous{
		padding-left: 20px;
	}
	.nav-next{
		padding-right: 20px;
	}
	a{
		color: inherit;
		text-decoration: none;
		&:hover,
		&:focus,
		&:active{
			color: blue;
			color: var(--global-link-color);
		}
	}
	& + ul.page-numbers{
		pointer-events: none;
		position: relative;
		display: block;
		list-style: none;
		margin: 0;
		padding-left: 0;
		text-align: center;
		height: 50px;
		line-height: 50px;
		margin-top: -50px;
		padding: 0 155px;
		color: grey;
		color: var(--global-text-alt);
		font-size: 0.8em;
		li{
			display: inline-block;
		}
		a{
			padding: 7px;
			pointer-events: auto;
			color: inherit;
			text-decoration: none;
			&:hover,
			&:focus,
			&:active{
				color: blue;
				color: var(--global-link-color);
			}
		}
		.current{
			padding: 7px;
			color: black;
			color: var(--global-headline-color);
			font-weight: bold;
		}
	}
}
