.themeberger-author,
.themeberger-comment-author,
.themeberger-context-author{
	a{
		line-height: 1;
		text-decoration: none;
	}
	.name{
		color: #000;
		font-weight: bold;
	}
	.avatar{
		.square(50px);
		border-radius: 50%;
		vertical-align: top;
		margin-right: 15px;
	}
	position: relative;
	z-index: 5;
}


.themeberger-date,
.themeberger-comment-date,
.reply-comment,
.edit-comment{
	font-size: 0.8em;
	color: #a3a7aa;
	margin-left: 7px;
	display: block;
	padding-left: 58px;
	margin-top: -28px;
	margin-bottom: 22px;
    position: relative;
    //top: -20px;
	.m1-sm({
		display: inline;
		padding-left: 0;
		margin-top: 0;
		top: 0;
		&::before{
			display: inline;
			content: "\A";
			white-space: pre;
			margin-right: 7px;
			font-weight: bold;
			.m1-sm({
				content: "\00b7";
				white-space: normal;
			});
		}
	});
	a{
		color: inherit;
		text-decoration: none;
		&:hover,
		&:focus,
		&:active{
			color: crimson;
		}
	}
}


.entry-interactions{
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
	padding-left: 0;
	margin-left: 0;
	margin-top: 15px;
	//font-size: 0.8em;
	color: #a3a7aa;
	.interaction{
		display: inline;
		margin-right: 15px;
		white-space: nowrap;
		&:last-child{
			margin-right: 0;
		}
		.interaction-key{
			margin-right: 10px;
		}
		.interaction-value{
			color: #000;
		}
	}
}


.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation{
	width: 100%;
    max-width: 700px;
	margin: auto auto;
	margin-bottom: 0;
}
.site-main .pagination{
	width: 100%;
    max-width: 700px;
	margin: auto auto;
	margin-bottom: 0;
	margin-top: -24px;
	text-align: center;
}
