
@import "layout/header.less";
@import "layout/content.less";
@import "layout/content-card.less";
@import "layout/content-supercard.less";
@import "layout/sidebar.less";
@import "layout/footer.less";

.site-main{
	&.main-single > article{
		margin-top: -100px - 20;
		.m1-md({
			margin-top: -100px - 85;
		});
	}
}

.full-width-block{

}

.background-block{
	position: absolute !important;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: inherit;
	z-index: 1 !important;
}

.content-card .entry-content.page-content{
	padding-top: 70px;
}





.reclaimed-notice{
	--global-text-alt: var(--article-text-alt);
	--global-headline-color: var(--article-headline-color);
	position: relative;
	background-color: #f30;
	position: relative;
	padding: 30px 20px;
	padding-left: 85px;
	background-color: lightgrey;
	background-color: var(--article-section-color);
	color: grey;
	color: var(--global-text-alt);
	//border-top: grey 1px dotted;
	//border-top: var(--global-border-color) 1px dotted;
	//border-bottom: grey 1px dotted;
	//border-bottom: var(--global-border-color) 1px dotted;
	.drop-shadow(0, 1px, 5px, 0px, 0.2);
	*{
		position: relative;
		z-index: 5;
	}
	& + .entry-footer{
		padding-top: 20px;
	}
	a{
		color: inherit;
		text-decoration: none;
		font-weight: bold;
		&:hover,
		&:focus,
		&:active{
			color: blue;
			color: var(--global-link-color);
		}
	}
	&::after{
		content: "👉";
		display: block;
		position: absolute;
		left: 20px;
		top: 15px;
		width: auto;
		height: auto;
		font-size: 2em;
		z-index: 5;
	}
}
