
@import "layout/header.less";
@import "layout/content.less";
@import "layout/content-card.less";
@import "layout/content-supercard.less";
@import "layout/sidebar.less";
@import "layout/footer.less";

.site{
	position: relative;
	width: 100%;
	height: auto;
	//min-height: 100vw;
	//min-height: 0;

}

.site-main{
	&.main-single > article{
		margin-top: -100px - 20;
		.m1-md({
			margin-top: -100px - 85;
		});
		&.format-video,
		&.format-image{
			margin-top: -100px - 70;
			.m1-md({
				margin-top: -100px - 125;
			});
		}
		&.format-standard.has-post-thumbnail{
			margin-top: -20px;
			.m1-md({
				margin-top: -85px;
			});
			.entry-image img{
				margin-top: -100px;
				.m1-md({
					margin-top: -100px;
				});
			}
		}
	}
}

.single,
.page{
	.remove-whitespace{
		margin-top: -50px;
		margin-bottom: -100px;
	}
	.full-width-block-content{
		width: 100vw !important;
		margin-left: e('calc( 50% - 100vw / 2 )') !important;
		padding: 0 var(--ui-size);
	}
}

.themeberger-container-background,
.full-width-block{
	width: 100vw !important;
	margin-left: e('calc( 50% - 100vw / 2 )') !important;
}
.more-width-block{
	width: 100vw !important;
	margin-left: e('calc( 50% - 100vw / 2 )') !important;
	.m1-sm({
		//width: 100vw !important;
		//margin-left: e('calc( 50% - 100vw / 2 )') !important;
		width: 100% !important;
		margin-left: 0 !important;
	});
	.m1-lg({
		width: 75vw !important;
		margin-left: e('calc( 50% - 75vw / 2 )') !important;
	});
}

.background-block{
	//display: none !important;
	position: absolute !important;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: inherit;
	z-index: 1 !important;
	&.behind{
		z-index: -1 !important;
	}
}

.content-card .entry-content.page-content{
	padding-top: 70px;
}


.taxonomy-description{
	background-color: lightgrey;
	background-color: var(--article-section-color);
	color: var(--article-text-alt);
	padding: 1em;
	.m1-sm({
		padding: 15px 50px;
	});
	.m1-md({
		padding: 35px 50px;
	});
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.taxonomy-description-inner{
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
	.clearfix();
}
