.content-card{
	width: 100%;
    max-width: 700px;
    margin: 0 auto;
	background-color: #fff;
	p:first-child{
		margin-top: 0;
	}
	p:last-child{
		margin-bottom: 0;
	}
	.entry-header{
		padding: 30px 20px;
	}
	.entry-content{
		padding: 30px 20px;
		padding-top: 0;
		padding-left: 85px;
		margin-top: -50px;
	}
	.entry-footer{
		padding: 30px 20px;
		padding-top: 0;
		padding-left: 85px;
		margin-top: -35px;
		.single &{
			margin-top: 0;
		}
		p{
			margin: 0;
		}
	}
	& + .comments-area{
		width: 100%;
		max-width: 700px;
		margin: 0 auto;
		.comments-title{
			display: none;
		}
		.comment-respond{
			position: relative;
			padding: 30px 20px;
			//padding-left: 85px;
		}
		.comments-list{
			list-style: none;
			margin: 0;
			padding: 0;
		}
		.child-comments{
			margin-left: 50px;
		}
		.comment,
		.webmention{
			position: relative;
			background-color: floralwhite;
			p:first-child{
				margin-top: 0;
			}
			p:last-child{
				margin-bottom: 0;
			}
		}
		.comment-meta{
			padding: 30px 20px;
		}
		.comment-content{
			padding: 30px 20px;
			padding-top: 0;
			padding-left: 85px;
			margin-top: -50px;
		}
		.comment-footer{
			padding: 30px 20px;
			padding-top: 0;
			padding-left: 85px;
			p{
				margin: 0;
			}
		}



	}
}
