.site-footer{
	background-color: black;
	background-color: var(--footer-background-color);
	color: grey;
    color: var(--footer-text-color);
    padding: 50px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	display: none;
}
.site-footer--inner{
	width: 100%;
    max-width: 980px;
    margin: 0 auto;
	.clearfix();
    & > div{
		.m1-sm({
			width: 100% / 3;
			float: left;
		});
		.max-sm({
			padding-top: 1em;
			//text-align: center;
		});
    }
	ul, ol{
		margin: 0;
		padding-left: 0;
		list-style: none;
		& &{
			margin-left: 0.5em;
		}
	}
	h1, h2, h3, h4, h5, h6{
		color: grey;
		color: var(--footer-text-color);
	}
	a{
		color: white;
		color: var(--footer-menu-color);
		text-decoration: none;
		&:hover,
		&:focus,
		&:active{
			color: blue;
			color: var(--global-link-color);
		}
	}
	.widget-title{
		text-transform: uppercase;
	}
}

/**/



#logo-footer{
    width: 150px;
    max-width: 100%;
	margin-top: 20px;
    .m1-sm({
        width: 200px;
    });
    .logo-footer-hockenberger path{
        fill: white;
    }
    .logo-footer-christian path{
        fill: white;
    }
    .logo-footer-crest{
	    fill: white;
    }
    &:hover{
        .logo-footer-crest path{
	        fill: white;
        }
    }
}

.footer-navigation-container{
	background-color: black;
	background-color: var(--footer-background-color);
	color: grey;
    color: var(--footer-text-color);
	padding: 50px;
    padding-top: 1.5em;
    padding-bottom: 1em;
}
.footer-navigation{
    .wrapper_spacing();
	width: 100%;
	max-width: 980px;
	padding-left: 0;
	padding-right: 0;
    & ul{
        font-size: 0.8em;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
		text-transform: uppercase;
        .m1-sm({
            font-size: 0.7em;
            text-align: left;
        });
    }
    & li{
        display: block;
        .m1-sm({
            display: inline-block;
        });
        //border-left: #000 1px solid;
        & a{
            display: inline-block;
            margin: 0 0.05em;
            padding: 0.05em;
			text-decoration: none;
			color: var(--brand-color-primary);
			&:hover,
			&:focus,
			&:active{
				color: white;
			}
            .m1-sm({
                margin: 0 0.5em;
                padding: 0;
            });
        }
        .m1-sm({
            &:first-child{
                a{
                    padding-left: 0;
                    margin-left: 0;
                }
            }
            &:last-child{
                a{
                    padding-right: 0;
                    margin-right: 0;
                }
            }
        });
    }
}

.footer-infobox{
	background-color: black;
	background-color: var(--footer-background-color);
	color: grey;
    color: var(--footer-text-color);
	padding: 50px;
    padding-top: 0.5em;
    padding-bottom: 1.5em;
    text-align: center;
    .m1-sm({
        text-align: left;
    });
    & .wrapper{
        .wrapper_spacing();
        .make-row();
		width: 100%;
		max-width: 980px;
		padding-left: 0;
		padding-right: 0;
    }
    & .footer-infobox-left{
        .make-column(4);
        text-align: center;
        .m1-sm({
            text-align: left;
            padding-right: 2em;
        });
    }
    & .footer-infobox-center{
        .make-column(8);
        text-align: center;
        .m1-sm({
            text-align: left;
        });
    }
    & .footer-infobox-right{
        display: none;
        .make-column(4);
        text-align: center;
        .m1-sm({
            text-align: right;
        });
    }
}

.footer-backlink{
	background-color: black;
	background-color: var(--footer-background-color);
	color: grey;
    color: var(--footer-text-color);
	padding: 50px;
    padding-top: 1.5em;
    padding-bottom:1.5em;
    //margin-top: @default-margin * 1;
    text-align: center;
    .m1-sm({
        text-align: left;
    });
    & .backlink-nav{
        .wrapper_spacing();
        .make-row();
		width: 100%;
		max-width: 980px;
		padding-left: 0;
		padding-right: 0;
    }
    & p{
        font-size: 0.8em;
		margin-bottom: 0;
    }
    & .left{
        .make-column(6);
    }
    & .gototop{
        .make-column(6);
        display: none;
        text-align: right;
        .m1-sm({
            display: block;
            & p{
                text-align: right;
            }
        });
    }
    & a{
        text-decoration: none;
        text-transform: uppercase;
		color: var(--brand-color-primary);
		&:hover,
		&:focus,
		&:active{
			color: white;
		}
        & strong{
            //font-weight: inherit;
        }
    }
    & i{
        display: inline-block;
        vertical-align: middle;
        margin-right: 2px;
        margin-top: -3px;
    }
}




.profilegrid{
	.make-row();
	& a{
		text-decoration: none;
		color: var(--brand-color-primary);
		&:hover,
		&:focus,
		&:active{
			color: white;
		}
	}
	& .profilegrid-left{
		.m1-sm({
			.make-column(9);
		});
		p{
			margin-bottom: 0;
		}
	}
	& .profilegrid-right{
		font-size: 0;
		display: none;
		.m1-sm({
			display: block;
			.make-column(3);
		});
		& p{
			margin-left: 1em;
			margin-bottom: 0;
		}
	}
	& .profilegrid-bottom{
		.m1-sm({
			.make-column(12);
		});
	}
	& .profilegrid-inner{
		.m1-sm({
			.make-column(6);
			float: left;
			min-height: 1px;
			padding-top: 1em;
			padding-bottom: 1em;
		});
	}
	& img.avatar{
		border-radius: 50%;
		margin-top: -1em;
	}
	& .hcardname{
		font-size: 1.2em;
		color: white;
		& + p{
			margin-top: 0;
		}
	}

}
.external_links{
	.max-sm({
		margin-top: 1em;
	});
	display: block;
	padding: 0;
	padding-top: 0;
	font-size: inherit;
	margin-left: 0;
	margin-bottom: 0 !important;
	.m1-sm({
		margin-bottom: 0 !important;
	});
	.m1-md({
		margin-bottom: 0 !important;
	});
	.m1-lg({
		margin-bottom: 0 !important;
	});
	& li{
		display: inline-block;
		margin: 0;
		padding: 0;
		font-size: inherit;
		margin-right: 8px;
		& a{
			text-decoration: none;
		}
		&.seperator{
			&::before{
				display: inline-block;
				content: "@";
				width: 12px;
				text-align: center;
			}
		}
		&.behance,
		&.github,
		&.instagram,
		&.twitter,
		&.dribbble,
		&.linkedin,
		&.youtube,
		&.flickr,
		&.amazon,
		&.swarm,
		&.pinterest,
		&.foursquare,
		&.facebook{
			& a{
				&::before{
					content: " ";
					width: @default-fontsize;
					height: @default-fontsize;
					line-height: @default-fontsize;
					color: var(--brand-color-secondary);
					display: inline-block;
					margin-right: 8px;
					//margin-bottom: -1px;
					.translateY(1px);
					//font-family: "FontAwesome";
					font-family: "themeberger";
				}
			}
		}
		&.behance{
			& a{
				&::before{
					content: @themeberger-behance;
				}
			}
		}
		&.github{
			& a{
				&::before{
					content: @themeberger-github;
				}
			}
		}
		&.twitter{
			& a{
				&::before{
					content: @themeberger-twitter;
				}
			}
		}
		&.facebook{
			& a{
				&::before{
					content: @themeberger-facebook;
				}
			}
		}
		&.instagram{
			& a{
				&::before{
					content: @themeberger-instagram;
				}
			}
		}
		&.dribbble{
			& a{
				&::before{
					content: @themeberger-dribbble;
				}
			}
		}
		&.linkedin{
			& a{
				&::before{
					content: @themeberger-linkedin;
				}
			}
		}
		&.youtube{
			& a{
				&::before{
					content: @themeberger-youtube;
				}
			}
		}
		&.flickr{
			& a{
				&::before{
					content: @themeberger-flickr;
				}
			}
		}
		&.amazon{
			& a{
				&::before{
					content: @themeberger-amazon;
				}
			}
		}
		&.swarm{
			& a{
				&::before{
					content: @themeberger-swarm;
				}
			}
		}
		&.pinterest{
			& a{
				&::before{
					content: @themeberger-pinterest;
				}
			}
		}
		&.foursquare{
			& a{
				&::before{
					content: @themeberger-foursquare;
				}
			}
		}
	}
}
