.site-header{
	background-color: black;
	background-color: var(--header-background-color);
    padding: 85px 50px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	&.header-single{
		padding-bottom: 150px;
	}
}
.site-header--inner{
	width: 100%;
    max-width: 980px;
    margin: 0 auto;
	.clearfix();
}

.site-branding{
	width: 100% / 3 * 2;
}

.site-logo{
	display: inline-block;
	width: auto;
	height: 45px;
	margin-right: 25px;
	overflow: hidden;
	img{
		vertical-align: middle;
		max-height: 45px;
		max-width: 200px;
		height: auto;
		width: auto;
	}
}

.custom-logo-link{
	.st0{
		fill: white;
		fill: var(--global-brand-color);
		.transition(all 0.15s cubic-bezier(1, .3, .3, 1));
	}
	.st1{
		fill: white;
		fill: var(--global-brand-color);
		.transition(all 0.15s cubic-bezier(1, .3, .3, 1));
	}
	.st2{
		fill: white;
		fill: var(--global-brand-color);
		.transition(all 0.15s cubic-bezier(1, .3, .3, 1));
	}
	&:hover,
	&:focus,
	&:active{
		.st0{
			fill: var(--global-secondary-color);
		}
		.st1{
			fill: var(--global-secondary-color);
			fill: white;
		}
		.st2{
			fill: var(--global-secondary-color);
			fill: white;
		}
	}
}

.site-title{
	color: white;
	color: var(--global-brand-color);
    display: inline-block;
    font-weight: bold;
    font-size: 45px;
    line-height: 45px;
	margin: 0;
	margin-bottom: 0;
	overflow: hidden;
	a{
		text-decoration: inherit;
		color: inherit;
		&:hover,
		&:focus,
		&:active{
			color: var(--global-secondary-color);
		}
	}
}

.site-description,
h1.site-description,
.page-title,
h1.page-title{
	color: white;
	color: var(--header-text-color);
	font-size: 30px;
	.m1-sm({
		font-size: 40px;
	});
	.m1-md({
		font-size: 50px;
	});
	font-weight: normal;
    line-height: 60px;
	margin: 0;
	margin-bottom: 0;
	margin-top: 45px;
}

.primary-navigation{
	//width: 100% / 3 * 1;
	width: 50%;
	float: right;
	height: 45px;
	//background-color: darkviolet;
	text-align: right;
	display: none;
	.m1-md({
		display: block;
	});
	.primary-menu{
        list-style: none;
        margin: 0;
        padding-left: 0;
        font-size: 0;
        display: inline-block;
        text-align: left;
	}
    .menu-item{
		position: relative;
        display: inline-block;
        margin: 0 5px;
        &:first-child{
            //margin-left: 0;
        }
        &:last-child{
            //margin-right: 0;
        }
        a{
			position: relative;
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            color: white;
			color: var(--global-brand-color);
            text-decoration: none;
    		padding: 0 10px;
			height: 45px;
			line-height: 45px;
			will-change: color;
			transition: color 0.2s cubic-bezier(1, .3, .3, 1);
			z-index: 1;
			&::before{
				content: "";
				position: absolute;
				top: 50%;
				left: 0;
				width: 100%;
				height: 0;
				background-color: blue;
				background-color: var(--header-menu-color);
				transition: all 0.2s cubic-bezier(1, .3, .3, 1);
				z-index: -1;
			}
			&::after{
				content: "";
				position: absolute;
				top: 50%;
				left: 0;
				width: 100%;
				height: 50%;
				background-color: white;
				background-color: var(--header-text-color);
				opacity: 0;
				z-index: -2;
			}
            &:hover,
            &:focus,
            &:active{
                //color: crimson;
				color: var(--header-text-color);
				&::before{
					height: 50%;
				}
            }
        }
        &.current-menu-item,
        &.current-menu-ancestor,
        &.current_page_parent{
			/*
			&::after{
				display: block;
				content: "";
				width: 6px;
				height: 6px;
				position: absolute;
				top: 50%;
				left: -12px;
				margin-top: -3px;
				background-color: #fff;
				border-radius: 50%;
				opacity: 0.5;
			}
			*/
			a::after{
				opacity: 0.2;
			}
        }
    }
}
