
@import (less) "../../../../wptest/public/wp-includes/css/dist/block-library/style.css";

@import "../../../less/index.less";

//@import "../../../less/common/defaults.less";
//@import "../../../less/common/mixins.less";

@import "overwrites.less";
@import "ui-overlay.less";
@import "photostream.less";
@import "masonry.less";
@import "now-card.less";
@import "scrollarea.less";
@import "recent-post.less";

//@import "test.less";


:root {
	--ui-color: black;
	--ui-background-color: white;
	--ui-size: 75px;
	--ui-shadow-opacity: 0.1;
	--ui-search-background-color: e("hsla(var(--color-special), var(--saturation-special), var(--lightness-special), 0.99)");
	--ui-fullmenu-background-color: e("hsla(var(--color-special), var(--saturation-special), var(--lightness-special), 0.99)");
	--ui-fullmenu-color: white;

	--frontpage-ui-color: white;
	--frontpage-ui-background-color: transparent;
	--frontpage-ui-shadow-opacity: 0;
}
:root[data-theme='dark'] {
	--ui-color: white;
	--ui-background-color: e("hsla(var(--color-secondary), var(--saturation-min), var(--lightness-lessest), var(--global-alpha))");
	--ui-search-background-color: e("hsla(var(--color-secondary), var(--saturation-min), var(--lightness-lessest), var(--global-alpha))");
	--ui-fullmenu-background-color: e("hsla(var(--color-secondary), var(--saturation-min), var(--lightness-lessest), var(--global-alpha))");
	--ui-fullmenu-color: white;

	--frontpage-ui-color: white;
	--frontpage-ui-background-color: transparent;
}

@media screen and (prefers-color-scheme: dark) {

	:root {
		--ui-color: white;
		--ui-background-color: e("hsla(var(--color-secondary), var(--saturation-min), var(--lightness-lessest), var(--global-alpha))");
		--ui-search-background-color: e("hsla(var(--color-secondary), var(--saturation-min), var(--lightness-lessest), var(--global-alpha))");
		--ui-fullmenu-background-color: e("hsla(var(--color-secondary), var(--saturation-min), var(--lightness-lessest), var(--global-alpha))");
		--ui-fullmenu-color: white;

		--frontpage-ui-color: white;
		--frontpage-ui-background-color: transparent;
	}
}

:focus {
	outline: none !important;
}


.reclaimed-notice{
	--global-text-alt: var(--article-text-alt);
	--global-headline-color: var(--article-headline-color);
	position: relative;
	background-color: #f30;
	position: relative;
	padding: 30px 20px;
	padding-left: 85px;
	background-color: lightgrey;
	background-color: var(--article-section-color);
	color: grey;
	color: var(--global-text-alt);
	//border-top: grey 1px dotted;
	//border-top: var(--global-border-color) 1px dotted;
	//border-bottom: grey 1px dotted;
	//border-bottom: var(--global-border-color) 1px dotted;
	.drop-shadow(0, 1px, 5px, 0px, 0.2);
	*{
		position: relative;
		z-index: 5;
	}
	& + .entry-footer{
		padding-top: 20px;
	}
	a{
		color: inherit;
		text-decoration: none;
		font-weight: bold;
		&:hover,
		&:focus,
		&:active{
			color: blue;
			color: var(--global-link-color);
		}
	}
	&::after{
		content: "👉";
		display: block;
		position: absolute;
		left: 20px;
		top: 15px;
		width: auto;
		height: auto;
		font-size: 2em;
		z-index: 5;
	}
}


.site-breadcrumbs{
	width: 100%;
    max-width: 980px;
    margin: 0 auto;
    position: absolute;
    top: 27px;
	text-transform: uppercase;
	font-size: 0.8em;
	letter-spacing: 1px;
	color: white;
	.max-md({
		display: none;
	});
	a{
		text-decoration: none;
		color: white;
	}
}
.marlon-breadcrumbs{
	//display: inline-block;
	//position: relative;
	z-index: 20;
	ol{
		display: inline;
		list-style: none;
		margin-left: 0;
		padding-left: 0;
		margin-bottom: 0;
		font-size: 1em;
		line-height: 1;
	}
	li{
		display: inline;
		&::after {
			content: "\2192";
			padding: 0 0.3em;
		}
		&:last-of-type::after {
			display: none;
		}
		&:last-of-type a {
			font-weight: bold;
			color: var(--global-brand-color);
			text-decoration: none;
		}
	}
}


.chobz-catcher{
	position: relative;
	padding: 100px 0;
	.catcher-badges{
		display: block;
		position: relative;
		width: 80%;
		max-width: 300px;
		margin: auto auto;
		z-index: 50;
		path,
		polygon,
		rect{
			.transition(all 0.15s cubic-bezier(1, .3, .3, 1));
		}
	}
}


.footer-badges{
	display: none;
	.m1-md({
		display: inline-block;
	});
	height: 40px;
	margin-top: 50px;
	path,
	polygon,
	rect{
		.transition(all 0.15s cubic-bezier(1, .3, .3, 1));
	}
}


#blm{
	//height: 100px;
	//margin-left: 10px;
	margin-top: 0;
	height: auto;
	width: 80%;
	path{
		//fill: #5c6468;
		fill: #ffffff;
	}
	/*
	.blm-matter{
		fill: green;
	}
	.blm-lives{
		fill: purple;
	}
	.blm-black{
		fill: red;
	}
	*/
	&:hover{
		path{
			fill: #FFFFFF;
		}
		.blm-black,
		.blm-lives{
			fill: var(--global-brand-color);
		}
	}
}

#solidaritaet{
	&:hover{
		.solidaritaet-letter{
			fill: #fff;
		}
		.solidaritaet-border{
			opacity: 0;
		}
	}
}
#solidaritaet-background{
	path,
	polygon,
	rect{
		//fill: #fff;
		fill: transparent;
	}
}
#solidaritaet-yellow{
	path,
	polygon,
	rect{
		fill: #FFCC00;
	}
}
#solidaritaet-blue{
	path,
	polygon,
	rect{
		//fill: #004466;
		//fill: #006191;
		fill: #5c6468;
	}
}
#solidaritaet-black{
	path,
	polygon,
	rect{
		//fill: #000;
		fill: #fff;
	}
}


#monogram-flag{
	margin-left: 10px;
	&:hover{
		#monogram-flag-white{
			fill: #FFFFFF;
		}
		#monogram-flag-red{
			fill: #CC0033;
		}
		#monogram-flag-blue{
			//fill: #003366;
			fill: #0c58a5;
		}
	}
}
#monogram-flag-white{
	fill: transparent;
}
#monogram-flag-red{
	fill: #5c6468;
}
#monogram-flag-blue{
	fill: #5c6468;
}




/* •·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·• */
