body.tag-packers,
body.tag-packers,
body.chobz-tag--gb-packers,
body.chobz-tag--packers{
	--global-background-color: #f5ab25;
	--header-background-color: #06342d;
	--global-text-color: #000;
	--global-link-color: #06342d;
	--global-link-active: #041c18;
	--ui-background-color: #06342d;
	--ui-color: #fff;
	--ui-search-background-color: #06342d;
	--ui-fullmenu-background-color: #f5ab25;
	--ui-fullmenu-color: #06342d;
	.site-footer{
		--footer-text-color: #fff;
		--global-link-color: #f5ab25;
		--global-link-active: #fff;
	}
	.ui-full-menu{
		--global-brand-color: #000;
		--global-secondary-color: #000;
	}
	.site-header{
		--global-brand-color: #f5ab25;
	}
	.chobz-ui .chobz-ui--left,
	.chobz-ui .chobz-ui--right{
		background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23042923' fill-opacity='0.25' fill-rule='evenodd'/%3E%3C/svg%3E");
		//background-image: url("data:image/svg+xml,%3Csvg width='12' height='24' viewBox='0 0 12 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23042923' fill-opacity='0.5'%3E%3Cpath d='M2 0h2v12H2V0zm1 20c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM9 8c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zm-1 4h2v12H8V12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	}
	background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23eaa11f' fill-opacity='0.75' fill-rule='evenodd'/%3E%3C/svg%3E");
}
